@font-face {
  font-family: 'GT America';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/GT-America-Regular.woff2') format('woff2');
}

// @font-face {
//   font-family: 'Roboto';
//   font-style: normal;
//   font-weight: 400;
//   src: local('Roboto'), local('Roboto-Regular'), url('../assets/fonts/Roboto.woff') format('woff');
//  }
